<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smile.redpacket.mapper.RedPacketMapper">

    <resultMap id="BaseResultMap" type="com.smile.redpacket.domain.RedPacket">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="amount" property="amount"/>
        <result column="total" property="total"/>
        <result column="unit_amount" property="unitAmount"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <select id="getAllRedPacket" resultMap="BaseResultMap">
         select id,user_id,amount,total,unit_amount,stock from t_red_packet
    </select>

</mapper>